{% set in_create = ['new-categorie', 'new-user', 'new-article'] %}
{% set in_settings = ['setting-users'] %}
<div class="site-menubar">
	<div class="site-menubar-body">
		<div>
			<div>
				<ul class="site-menu" data-plugin="menu">


					{% if is_granted('ROLE_ADMIN') %}
						<li class="site-menu-item has-sub {% if active == 'index' %} active {% endif %}">
							<a href="{{path('admin_index')}}">
								<i class="site-menu-icon wb-home" aria-hidden="true"></i>
								<span class="site-menu-title">Tableau de bord</span>
							</a>
						</li>
					{% endif %}
					
					{% if not is_granted('ROLE_ADMIN') %}
					<li class="site-menu-item has-sub {% if active == 'my-cart' %} active {% endif %}">
						<a href="{{path('my_cart')}}">
							<i class="site-menu-icon fas fa-shopping-cart" aria-hidden="true"></i>
							<span class="site-menu-title">Mon Panier</span>
							<div class="site-menu-badge">
								<span class="badge badge-pill badge-success">{{ items | length }}</span>
							</div>
						</a>

					</li>
						<li class="site-menu-item has-sub {% if active == 'all-articles' %} active {% endif %}">
							<a href="{{path('base_index')}}">
								<i class="site-menu-icon fas fa-star" aria-hidden="true"></i>
								<span class="site-menu-title">Tout les articles</span>
								{# <div class="site-menu-badge">
																		<span class="badge badge-pill badge-success">{{ items | length }}</span>
																	</div> #}
							</a>

						</li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}

						<li class="site-menu-item has-sub {% if active == 'commandes' %} active {% endif %}">
							<a href="{{path('commandes_index')}}">
								<i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
								<span class="site-menu-title">Commandes</span>
							</a>
						</li>
						
						<li class="site-menu-item has-sub {% if active == 'articles' %} active {% endif %}">
							<a href="{{path('articles_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Produits</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'categories' %} active {% endif %}">
							<a href="{{path('categories_index')}}">
								<i class="site-menu-icon icon fa-money" aria-hidden="true"></i>
								<span class="site-menu-title">Catégorie</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'contact' %} active {% endif %}">
							<a href="{{path('contact_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Contact</span>
							</a>
						</li>
						
						<li class="site-menu-item has-sub {% if active == 'user-list' %} active {% endif %}">
							<a href="{{path('admin_users')}}">
								<i class="site-menu-icon wb-users" aria-hidden="true"></i>
								<span class="site-menu-title">Utilisateurs</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active in in_create %}active open{% endif %} ">
							<a href="javascript:void()">
								<i class="site-menu-icon wb-plus-circle" aria-hidden="true"></i>
								<span class="site-menu-title">Ajouter</span>
								<span class="site-menu-arrow"></span>
							</a>
							<ul class="site-menu-sub">
								<li class="site-menu-item {% if active == 'new-user'  %}active{% endif %}">
									<a class="animsition-link" href="{{ path('admin_user_create') }}">
										<span class="site-menu-title">Utilisateur</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-article'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('articles_new')}}">
										<span class="site-menu-title">Produit</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-categorie'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('categories_new')}}">
										<span class="site-menu-title">Catégorie</span>
									</a>
								</li>
							{% endif %}

							{% if is_granted('ROLE_TEACHER') and not is_granted('ROLE_ADMIN') %}
								<li class="site-menu-item {% if active == 'new-user'  %}active{% endif %}">
									<a class="animsition-link" href="">
										<i class="site-menu-icon wb-signal" aria-hidden="true"></i>
										<span class="site-menu-title">Signal</span>
									</a>
								</li>
							{% endif %}
						</li>
					</ul>
				</li>
				
			</ul>
			
		</div>
	</div>
</div>

</div>
